/* body {
    background-color: rgba(6, 107, 107, 0.63);
}

h1 {
    color: darkblue;
    text-align: center;
}

.friend {
    background-color: blue;
}

.friend > h3 {
    text-transform: uppercase;
}

.btn {
    cursor: pointer;
    justify-content: center;
    width: 85px;
} */